<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217158479906-rjmkmgoie4qjkbjt72rql6dp9373aisq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217158479906-rjmkmgoie4qjkbjt72rql6dp9373aisq</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVE-MwRvSnxj870zLz1WcuwkjUmEK3ZM</string>
	<key>GCM_SENDER_ID</key>
	<string>217158479906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aristeiaApp</string>
	<key>PROJECT_ID</key>
	<string>aristeia-d7d47</string>
	<key>STORAGE_BUCKET</key>
	<string>aristeia-d7d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217158479906:ios:f372ebceb63455d92a5a7b</string>
</dict>
</plist>